<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/general.css" />
    <title>Reciept Tracker | Home</title>
  </head>
  <body>
    <header>
      <div id="banner">
        <img
          src="/images/Untitled_Artwork.png"
          alt="Receipt Logo"
          id="logo_img"
        />
        <nav>
          <div><a class="active">Home</a></div>
          <div><a>Add Records</a></div>
          <div><a>View All</a></div>
          <form action="" id="search_bar">
            <input type="search" placeholder="Search..." name="search" />
            <button id="search_icon" type="submit"></button>
          </form>
        </nav>
      </div>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
